*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(244, 249, 253);
    padding: 2rem;
}

h1{
text-align: center;
margin-bottom: 2rem;
}
#sliding_box{
    width: 40%;
    margin: auto;
    border: inset 10px blue;
    height: 70vh;
}
#slider{
width: 100%;
height:100%;
}
#buttons{
    margin-top: 2rem;
    text-align: center;
    
}
#leftbtn,#rightbtn{
    font-size: 100%;
    padding: 1% 2%;
}