body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    color: #333;
}

 #filter_search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchitem {
    display: flex;
}

form {
    display: flex;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sortData {
    display: flex;
    align-items: center;
}

label {
    margin-right: 5px;
}

select {
    padding: 8px;
} 

#renderData {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

div {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    height: auto;
    text-align: center;
}

p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
